#my_social{
	position: fixed;
	bottom: 0%;
	left: 5%;
	font-size: 200%;
	font-family: Consolas, monaco, monospace;
	/*color: #ffff00;*/
}
.links{
	position: fixed;
	bottom: 5%;
	right: 5%;
}
body{
	background: #121212;
	width: 99%;
	height: 90%;
}
#contact{
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 100px;
	font-family: Consolas, monaco, monospace;
	color: #ffa48e;
}
.information{
	font-size: 150%;
}
#indeed{
	border-radius: 10px;
}
#back {
	padding: 25px 25px 25px 25px;
}
h1 {
	font-family: Consolas, Monaco, Monospace;
	color: #FFFFFF;
	opacity: 0.87;
	position: fixed;
	top: 25px;
	left: 35%;
}
#table {
	margin-left: auto;
	margin-right: auto;
	border-spacing: 15px;
}
th {
	text-align: left;
	padding: 15px;
	font-size: 150%;
	font-family: Consolas, monaco, monospace;
	color: #ffa48e;
	opacity: 0.6;
}
#DINOSAUR {
	color: #ffa48e;
}