#my_social{
	position: fixed;
	bottom: 0%;
	left: 5%;
	font-size: 200%;
	font-family: Consolas, monaco, monospace;
	/*color: #ffff00;*/
}
.links{
	position: fixed;
	bottom: 5%;
	right: 5%;
}
body{
	background: #121212;
	width: 99%;
	height: 90%;
}
.flex-box{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 100px;
}
h1 {
	font-family: Consolas, Monaco, Monospace;
	color: #FFFFFF;
	opacity: 0.87;
	position: fixed;
	top: 25px;
	left: 40%;
}
#back {
	padding: 25px 25px 25px 25px;
}
th {
	text-align: left;
	font-size: 150%;
	font-family: Consolas, monaco, monospace;
	color: #ffa48e;
	padding-left: 25px;
}
#projects {
	padding-left: 10%;
	padding-right: 10%;
}

#project-row {
	padding-top: 5%;
	padding-bottom: 5%;
}